<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Virtual Environments</title>
</head>
<body>
    <div>
        <h1>Choose environment</h1>
        <form action="{{baseUrl}}launch" method="GET">

            {% for i in range(N) %}
            <label>{{images[i]}}</label>
            <input type="radio" name="venvImage" value="{{images[i]}}"/>
            <br>
            {% endfor %}
            <input type="submit" value="Create environment" />
        </form>
    </div>
</body>
</html>
