.item-row {
  height: 2rem;
  display: flex;
  align-items: center;
}

.item-row:hover:not(:has(.item-status:hover)) {
  background-color: #EFEFEF;
}

.item-column {
  display: inline-block;
  position: relative;
}

.item-name {
  left: 0;
  margin-left: 2%;
  margin-right: auto;
  text-align: left;
  overflow-x: clip;
  max-width: 60%;
  padding-bottom: 0.35rem;
}

.item-status {
  right: 0;
  margin-left: auto;
  margin-right: 2%;
  text-align: right;
}