.status-msg {
  text-align: right;
  display: none;
  position: fixed;
  width: auto;
  max-width: 13rem;
  margin-top: 0px;
  transform: translate(-110%, 0);
  border: 1px dashed #C0C0C0;
  background-color: #EDE4E3;
  opacity: 0.66;
}

.status-loader {
  display: inline;
}

.status-msg:has(~ .status-loader:hover) {
  display: inline;
}