.input-icon {
  position: absolute;
  right: 25.5%;
  color: green;
}

.big {
  margin-top: 5.5px;
}

.small {
  margin-top: 6px;
}

.small.input-icon:hover {
  color: #5ce65c;
}

.action-bar {
  display: none;
  padding-left: 10px;
  position: absolute;
  margin-top: -26px;
  margin-left: 50%;
  text-align: right;
}

.action-bar:hover {
  display: inline;
}

label:has(~ input[type="text"]) {
  pointer-events:none;
}

input[type="text"]:hover ~ .action-bar {
  display: inline;
}